.content-container {
    display: flex; /* Используем flexbox для расположения элементов */
}

.home-posts {
    flex: 3; /* Основной контент занимает 3 части */
    margin-right: 20px; /* Отступ справа для боковой панели */
}

.home-links {
    flex: 1; /* Боковая панель занимает 1 часть */
    background-color: #f4f4f4; /* Цвет фона боковой панели */
    padding: 20px; /* Отступы внутри боковой панели */
    border-radius: 5px; /* Скругленные углы */
}

.home-links h2 {
    margin-top: 0; /* Убираем верхний отступ заголовка */
}
